3.Complex_Design_Clayton_Changes.docx
.Rproj.user
.DS_Store
.Rhistory
Clayton_Plasticity_Fluc_Meta/fluctuation_acclimation_supp_DN.docx
.gitignore
Clayton_Plasticity_Fluc_Meta/Stocker et al_fluctuation_acclimation_ms_fs280125_DN.docx
Clayton_Plasticity_Fluc_Meta/~$ocker et al_fluctuation_acclimation_ms_fs280125_DN.docx
checks.csv
figs
